page-job-detail {
    .item-block:first-child {
        border-top: 0;
    }
    .item-block:last-child {
        border-bottom: 0;
    }

    .item-inner {
        border-bottom-color: #f2f2f2!important;
    }
    .name {
        border-bottom: 0!important;
        font-size: 14px;
        color: #333;
        // margin-bottom: 5px;
        padding-bottom: 5px!important;
    }
    .time,.address {
        font-size: 12px;
        color: #999;
        ion-icon {
            font-size: 16px;
            margin-right: 3px;
            vertical-align: -2px;
        }
    }
    .address {
        ion-icon {
            font-size: 20px;
        }
    }
    .price {
        font-size: 18px;
        font-family: 'PingFang SC', Arial, Helvetica, sans-serif;
        color: color($colors, primary);
        text-align: right;
        .unit {
            font-size: 12px;
            color: #999;
            padding-left: 2px;
        }
    }

    .main {
        background: #fff;
        padding: 15px;
        h2 {
            margin: 0;
            padding: 0;
            font-size: 14px;
            color: #333;
            border-left: 2px solid color($colors, primary);
            padding-left: 5px;
        }
        .body {
            font-size: 14px;
            color: #666;
            text-align: center;
            padding-top: 12px;
            p {
                margin: 0;
                padding: 0;
                font-size: 14px;
                line-height: 18px;
                text-align: left;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }
    }

    .footer-ios {
        .button-full-ios{
            margin: 0;
            padding: 0;
        }
    }
}
