<!--
  Generated template for the MediaListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>
      <span class="custom-btn" (tap)="selectItem('latest');" 
        [class.active]="dataType === 'latest'">最新</span>
      <span class="custom-btn" (tap)="selectItem('hot');" 
        [class.active]="dataType === 'hot'">最热</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button small class="school-btn">
        学校&nbsp;<ion-icon name="ios-arrow-down-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="empty-error-box" *ngIf="!!error">
    {{error.message || error}}
  </div>
  <div class="media-data">
    <ion-card *ngFor="let media of mediaData" tappable (click)="selectMedia(media)" tappable>
      <ion-item>
        <ion-avatar item-start>
          <img [src]="media.owner?.avatar" />
        </ion-avatar>
        <h2>{{media.owner && media.owner.name}}</h2>
        <p>{{media.owner && media.owner.school}}</p>
        <ion-note item-right>
          {{media.time | moment: 'MM月DD日 HH:mm'}}
        </ion-note>
      </ion-item>

    <div class="media-player">
      <vg-player (onPlayerReady)="onPlayerReady($event)">
          <div class="custom-play-button" tappable (click)="  
            currentMedia && currentMedia !== myMedia && currentMedia.pause(); 
            media.playing ? myMedia.pause() : myMedia.play(); 
            currentMedia = myMedia;
            currentMedia.srcMedia = media; 
            media.playing = !media.playing;

            $event.stopPropagation();">
            <button ion-button clear color="white" 
              class="play-button">
              <ion-icon name="play" *ngIf="currentMedia !== myMedia || !currentMedia.srcMedia?.playing"></ion-icon>
            </button>
          </div>

          <!-- 
            currentMedia && currentMedia !== myMedia && currentMedia.pause(); 
            media.playing ? myMedia.pause() : myMedia.play(); 
            currentMedia = myMedia;
            currentMedia.srcMedia = media; 
            media.playing = !media.playing;
           -->
          <!-- <vg-overlay-play>
              <button ion-button clear color="white" class="play-button">
                  <ion-icon name="ios-play-outline"></ion-icon>
                </button>
          </vg-overlay-play> -->
          <vg-buffering></vg-buffering>

          <!-- <vg-controls> -->
            <vg-scrub-bar [vgSlider]="false" style="pointer-events: none;">
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
          <!-- </vg-controls> -->
          

          <!-- <vg-controls [vgAutohide]="true" [vgAutohideTime]="5">
            <vg-play-pause></vg-play-pause>
            <vg-time-display [vgProperty]="'current'"></vg-time-display>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
            <vg-time-display [vgProperty]="'total'"></vg-time-display>
            <vg-fullscreen></vg-fullscreen>
          </vg-controls> -->
          <video #myMedia [vgMedia]="myMedia" 
            playsinline webkit-playsinline
            x-webkit-airplay="true" 
            x5-video-player-type="h5"
            x5-video-orientation="h5"

            id="vid-{{media.id}}"
            poster="{{media.cover}}" 
            src="{{media.media_file}}"></video>
        </vg-player>
      </div>

      <ion-card-content>
        <p>{{media.title}}</p>
      </ion-card-content>

      <ion-row style="margin-bottom: 5px;">
        <ion-col col-4>
          <button ion-button icon-start clear small>
            <ion-icon name="videocam"></ion-icon>
            <div>{{media.views_count | num2str}} 播放</div>
          </button>
        </ion-col>
        <ion-col col-4 text-center>
          <button ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{media.comments_count  | num2str}} 评论</div>
          </button>
        </ion-col>
        <ion-col col-4 style="text-align:right;">
          <button ion-button icon-start clear small (click)="like($event,media);">
            <ion-icon name="md-heart" [class.liked]="media.liked"></ion-icon>
            <div>{{media.likes_count  | num2str}} 喜欢</div>
          </button>
        </ion-col>
      </ion-row>
      
    </ion-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" [enabled]="hasMore">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在加载...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
