<div class="comm-form-fields">
  <ion-list>
    <div *ngFor="let item of controls">
      <!-- 富文本编辑器 -->
      <div *ngIf="item.type === 31" class="rich-editor-wrap">
        <div class="custom-label"><span class="required" *ngIf="item.required">*</span>
          {{item.name}}</div>
        <quill-editor [(ngModel)]="item.value"></quill-editor>
        <!-- <div [froalaEditor]="item.editorOptions" [(froalaModel)]="item.value" class="rich-editor"></div> -->
      </div>

      <!-- 多文本输入框 -->
      <div class="text-editor-wrap" *ngIf="item.type == 3">
        <div class="custom-label"><span class="required" *ngIf="item.required">*</span>
          {{item.name}}</div>
        <div class="text-area-wrap">
          <ion-item>
            <ion-textarea rows="8" placeholder="{{placeholderFromControl(item)}}" [(ngModel)]="item.value">
            </ion-textarea>
          </ion-item>
        </div>

      </div>

      <ion-item *ngIf="item.type !== 31 && item.type !== 3">
        <ion-label text-wrap>
          <span class="required" *ngIf="item.required">*</span>
          {{item.name}}
        </ion-label>

        <ion-note item-right *ngIf="item.unit">{{item.unit}}</ion-note>

        <!-- 纯文本 -->
        <div item-content *ngIf="item.type == 1">
          {{item.value || item.defaultValue}}
        </div>

        <!-- 文本输入框控件 -->
        <ion-input *ngIf="item.type == 2" type="{{item.subtype || 'text'}}" [(ngModel)]="item.value"
          [disabled]="item.disabled" placeholder="{{placeholderFromControl(item)}}"></ion-input>

        <!-- 验证码控件 -->
        <ion-input *ngIf="item.type == 20" type="tel" [(ngModel)]="item.value" placeholder="输入{{item.name}}">
        </ion-input>
        <button ion-button *ngIf="item.type == 20" item-right clear style="font-size: 14px;" (click)="getCode(item);"
          [disabled]="item.timerStarting || !item.mobile_control || !item.mobile_control.value">{{item.countdown_text || item.get_code_text}}</button>

        <!-- 多文本输入框 -->
        <!-- <ion-textarea *ngIf="item.type == 3" rows="10" placeholder="{{placeholderFromControl(item)}}"
          [(ngModel)]="item.value">
        </ion-textarea> -->

        <!-- 选择控件 -->
        <div class="custom-select-control" tappable (click)="selectItem(item);" item-content
          *ngIf="item.type == 4 || item.type == 5 || item.type == 6">
          <span *ngIf="item.type !== 6">{{selectValueFromItem(item)}}</span>
          <span *ngIf="item.type === 6 && (!item.value || item.value.length === 0)">请选择（可多选）</span>
          <span class="option-items" *ngIf="item.type == 6 && item.value && item.value.length > 0">
            <span class="option-item-1" *ngFor="let it of (item.value || [])" tappable
              (click)="removeMe($event,item,it);">
              <span class="name">{{it.label}}</span>
              <ion-icon name="ios-close-outline"></ion-icon>
            </span>
          </span>
          <ion-icon name="ios-arrow-forward-outline" class="right-arrow"></ion-icon>
        </div>

        <!-- 单选按钮 -->
        <div class="custom-radio-control" item-content *ngIf="item.type == 41">
          <span class="option" *ngFor="let opt of item.options" tappable (click)="item.value = opt;">
            <ion-icon name="{{item.value == opt ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline'}}">
            </ion-icon>{{opt.label}}
          </span>
        </div>

        <!-- 上传文件 -->
        <!-- <ion-input *ngIf="item.type == 20" type="file" placeholder="" (ionChange)="selectFiles($event);"></ion-input> -->
        <div class="custom-upload-control" item-content *ngIf="item.type == 22">
          <!-- <input type="file" [multiple]="item.multiple" (change)="selectedFiles($event)" style="display: none" -->
          <!-- #fileInput> -->
          <!-- <span class="filenames" text-wrap>{{fileValueFromItem(item)}}</span>
          <ion-icon name="ios-arrow-forward-outline"></ion-icon> -->
          <div class="upload-box">
            <div class="image-box" *ngFor="let img of item.value">
              <img [src]="sanitize(urlByFile(img))" imageViewer>
              <span class="close-btn" tappable (click)="removeImg(item, img);">
                <ion-icon name="md-close-circle"></ion-icon>
              </span>
            </div>
            <div class="upload-btn" *ngIf="!item.value || item.value.length === 0 || item.multiple" tappable
              (click)="uploadFile(item);">
              <ion-icon name="ios-add-outline"></ion-icon>
            </div>
          </div>
        </div>

        <!-- 开关控件 -->
        <ion-toggle *ngIf="item.type == 8" [(ngModel)]="item.value"></ion-toggle>

        <!-- 日期控件 -->
        <ion-datetime *ngIf="item.type == 7" cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD"
          placeholder="{{placeholderFromControl(item)}}" [min]="item.min" [max]="item.max" [(ngModel)]="item.value">
        </ion-datetime>

        <!-- 日期时间控件 -->
        <ion-datetime *ngIf="item.type == 71" cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD HH:mm:ss"
          placeholder="{{placeholderFromControl(item)}}" [min]="item.min" [max]="item.max" [(ngModel)]="item.value">
        </ion-datetime>

        <!-- 时间控件 -->
        <ion-datetime *ngIf="item.type == 72" cancelText="取消" doneText="确定" displayFormat="HH:mm:ss"
          placeholder="{{placeholderFromControl(item)}}" [min]="item.min" [max]="item.max" [(ngModel)]="item.value">
        </ion-datetime>
        <!-- 时、分控件 -->
        <ion-datetime *ngIf="item.type == 73" cancelText="取消" doneText="确定" displayFormat="HH:mm" pickerFormat="HH:mm"
          placeholder="{{placeholderFromControl(item)}}" [min]="item.min" [max]="item.max" [(ngModel)]="item.value">
        </ion-datetime>
      </ion-item>
    </div>
  </ion-list>
</div>