page-performer-list {
    .performers {
        ion-row,ion-col {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        // padding: px;
        padding: 15px 0;

        .performer {
            padding: 10px;
            h4,p {
                margin: 0;
                padding: 0;
            }
            img {
                width: 60px;
                height: 60px;

                border-radius: 50%;
            }
            h4 {
                font-size: 14px;
                font-weight: normal;
                color: #333;
                margin-top: 10px;
                margin-bottom: 5px;
            }
            p {
                font-size: 12px;
                color: #666;
                margin-bottom: 10px;
            }

            .followed {
                background: white;
                color: color($colors, primary);
                border: 0.55px solid color($colors, primary);
            }
        }
    }
}
