<!--
  Generated template for the PerformerDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>艺人详情</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="photos" *ngIf="performer.photos.length > 0">
    <ion-slides *ngIf="performer.photos.length > 0" [loop]="performer.photos.length > 1"
      [pager]="performer.photos.length > 1" autoplay="3000">
      <ion-slide *ngFor="let img of performer.photos">
        <div class="photo">
          <img [src]="img">
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="base-info">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="performer.avatar || 'assets/imgs/default_avatar.png'">
      </ion-avatar>
      <h2 class="name">{{performer.name}}</h2>
      <p class="type">
        <ion-badge>{{performer.type_name}}</ion-badge>
      </p>
      <p class="tags" text-wrap>
        <span *ngFor="let tag of performer.tags">{{tag}}&emsp;</span>
      </p>
      <ion-note item-end style="text-align: right;">
        <span class="custom-follow-btn" tappable (click)="follow(performer);">
          {{performer.followed ? '已关注' : '关注'}}
        </span>
        <p style="text-align:center;">{{performer.follows_count}} 粉丝</p>
      </ion-note>
    </ion-item>
  </div>
  <div class="pager">
    <ion-segment [(ngModel)]="dataType" mode="md" (ionChange)="segChanged($event);">
      <ion-segment-button value="{{type.value}}" *ngFor="let type of dataTypes">
        {{type.label}}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="empty-error-box" *ngIf="!!error">
    {{error.message || error}}
  </div>

  <div class="contents">
    <div class="info" *ngIf="dataType == 'info'">
      <table class="table">
        <tr>
          <td class="label">性别</td>
          <td class="value">{{performer.sex}}</td>
          <td class="label">年龄</td>
          <td class="value">{{performer.age}}</td>
        </tr>
        <tr>
          <td class="label">籍贯</td>
          <td class="value">{{performer.nation}}</td>
          <td class="label">学历</td>
          <td class="value">{{performer.edu_level}}</td>
        </tr>
        <tr>
          <td class="label">专业</td>
          <td class="value">{{performer.speciality}}</td>
          <td class="label">婚否</td>
          <td class="value">{{performer.is_marry ? '已婚' : '未婚'}}</td>
        </tr>
        <tr>
          <td class="label">现职业</td>
          <td class="value">{{performer.now_job}}</td>
          <td class="label">爱好</td>
          <td class="value">{{performer.interest}}</td>
        </tr>
        <tr>
          <td class="label">身高</td>
          <td class="value">{{performer.height}}公分</td>
          <td class="label">体重</td>
          <td class="value">{{performer.weight}}公斤</td>
        </tr>
        <tr>
          <td class="label">体型</td>
          <td class="value">{{performer.body_size}}</td>
          <td class="label">三围</td>
          <td class="value">{{performer.chest_size}}&nbsp;{{performer.waist_size}}&nbsp;{{performer.hip_size}}</td>
        </tr>
        <tr>
          <td class="label">视力</td>
          <td class="value">{{performer.vision}}</td>
          <td class="label">发型</td>
          <td class="value">{{performer.hair_style}}</td>
        </tr>
        <tr>
          <td class="label">头发颜色</td>
          <td class="value">{{performer.hair_color}}</td>
          <td class="label">鞋码</td>
          <td class="value">{{performer.footcode}}码</td>
        </tr>
        <tr>
          <td class="label">常住地</td>
          <td class="lg-value" colspan="3">{{performer.address}}</td>
        </tr>
        <!-- <tr *ngIf="!!performer.skills">
          <td class="label">个人技艺</td>
          <td class="lg-value" colspan="3">
            <div class="body" [innerHTML]="performer.skills"></div>
          </td>
        </tr>
        <tr *ngIf="!!performer.trainings">
          <td class="label">培训经历</td>
          <td class="lg-value" colspan="3">
            <div class="body" [innerHTML]="performer.trainings"></div>
          </td>
        </tr>
        <tr *ngIf="!!performer.bio">
          <td class="label">工作/演出经历</td>
          <td class="lg-value" colspan="3">
            <div class="body" [innerHTML]="performer.bio"></div>
          </td>
        </tr> -->
      </table>
      <div class="box" *ngIf="!!performer.skills">
        <h2 class="title">个人技艺</h2>
        <div class="body" [innerHTML]="performer.skills"></div>
      </div>
      <div class="box" *ngIf="!!performer.trainings">
        <h2 class="title">培训经历</h2>
        <div class="body" [innerHTML]="performer.trainings"></div>
      </div>
      <div class="box" *ngIf="!!performer.bio">
        <h2 class="title">工作/演出经历</h2>
        <div class="body" [innerHTML]="performer.bio"></div>
      </div>
    </div>
    <div class="medias" *ngIf="dataType == 'mv'">
      <ion-row>
        <ion-col col-6 *ngFor="let item of data; let i = index;" [class.odd]="i % 2 == 1" [class.even]="i % 2 == 0">
          <ion-card tappable (click)="openMedia(item);">
            <img [src]="item.cover" />
            <ion-row>
              <ion-col col-6>
                <p class="title">{{item.title}}</p>
              </ion-col>
              <ion-col col-6>
                <p class="view-count">
                  <ion-icon name="videocam"></ion-icon>
                  <span class="digit">{{item.views_count  | num2str}}</span>
                </p>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <div class="users-performers" *ngIf="dataType == 'follower' || dataType == 'follow'">
      <ion-list>
        <ion-item *ngFor="let item of data" tappable (click)="openOwnerZone((item.target || item));">
          <ion-avatar item-start>
            <img src="{{(item.target || item).avatar || 'assets/imgs/default_avatar.png'}}">
          </ion-avatar>
          <h2>{{(item.target || item).name || (item.target || item).nickname}}</h2>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" [enabled]="hasMore">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>