page-home {
    .banners {
        ion-slide {
            background-color: rgb(247, 247, 247);
            // height: 150px;
            // margin: 0;
        }
        img {
            margin: 0;
            padding: 0;
            border: 0;
            display: block;
            max-width: 100%;
            width: 100%;
        }

        .swiper-pagination-bullet-active {
            background-color: color($colors, primary);
        }
    }

    .jobs {
        padding-bottom: 0!important;
        
        
    }

    .box {
        width: 100%;
        background: white;
        margin-top: 6px;
        padding: 15px;
        .list-ios {
            margin-bottom: 0;
            margin-top: 0;
        }

        .item-ios {
            padding-left: 0;
            // border-bottom-color: #f2f2f2;
        }
        .item-inner {
            padding-right: 0!important;
        }

        h2 {
            padding: 0;
            margin: 0;
            font-size: 14px;
            font-weight: normal;
            color: #333;
            border-bottom: 0.55px solid #e6e6e6;
            padding-bottom: 15px;
        }
        .more {
            display: block;
            float: right;
            font-size: 12px;
            color: #999;
        }
    }

    .sec-box {
        text-align: center;
        // padding: 10px;
        .name {
            font-size: 14px;
            color: #333;
            margin: 0;
            
        }
        .artist-icon {
            height: 32px;
        }
        .comp-icon {
            height: 26px;
            margin-bottom: 5px;
        }
    }

    .performers {
        padding-bottom: 0!important;
    }
}
