<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header no-border>

  <ion-navbar color="white">
    <ion-title>创艺生</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-content>
  <div class="empty-error-box" *ngIf="!!error">
    {{error.message || error}}
  </div>
  <div class="entry-data" *ngIf="!!entryData">
    <!-- Banner -->
    <div class="banners">
      <ion-slides #slides *ngIf="entryData.banners.length > 0" [loop]="entryData.banners.length > 1"
        [pager]="entryData.banners.length > 1" (ionSlideAutoplayStop)="autoPlay()" autoplay="3000">
        <ion-slide *ngFor="let banner of entryData.banners">
          <div class="banner-btn" (tap)="openBanner(banner)">
            <img [src]="banner.image">
          </div>
        </ion-slide>
      </ion-slides>
    </div>



    <!-- 最新通告 -->
    <div class="box jobs" *ngIf="entryData.latest_jobs && entryData.latest_jobs.length > 0">
      <h2>最新通告
        <span class="more" tappable (click)="openJobs();">更多 <ion-icon name="ios-arrow-forward-outline">
          </ion-icon>
        </span>
      </h2>
      <ion-list>
        <div *ngFor="let job of entryData.latest_jobs" tappable (click)="openJob(job);">
          <job-item [job]="job"></job-item>
        </div>
      </ion-list>
    </div>

    <!-- 男神女神 -->
    <div class="box performers">
      <h2>推荐艺人
        <span class="more" tappable (click)="openPerformers();">更多 <ion-icon name="ios-arrow-forward-outline">
          </ion-icon>
        </span>
      </h2>
      <ion-list>
        <div tappable (click)="openZone(perform);" *ngFor="let perform of entryData.performers">
          <perform-item [performer]="perform"></perform-item>
        </div>
      </ion-list>
    </div>
  </div>

</ion-content>