<!--
  Generated template for the TopicDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>动态详情</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background: white;">
  <div class="owner-info">
      <ion-item>
        <ion-avatar item-left>
          <img src="{{topic.owner?.avatar || 'assets/imgs/default_avatar.png'}}">
        </ion-avatar>
        <h2>{{topic.owner?.name}}</h2>
        <p>{{topic.time | timeAgo:'YYYY-MM-DD HH:mm:ss'}}</p>
        <ion-note item-right>
          <button ion-button small (click)="follow(topic.owner);" [class.followed]="topic.owner.followed">
            {{topic.owner.followed ? '已关注' : '关注'}}</button>
        </ion-note>
      </ion-item>
    </div>
  <div class="topic">
    
    <div classs="body">
      {{topic.content}}
    </div>
    <div class="assets" *ngIf="topic.type">
        <ion-row *ngIf="topic.type == 1">
          <ion-col col-4 *ngFor="let asset of topic.files">
            <img [src]="asset.url" class="asset-image" imageViewer>
          </ion-col>
        </ion-row>
        <!-- 作品类型 -->
        <div class="media-player" *ngIf="topic.type == 0 && topic.media">
            <vg-player (onPlayerReady)="onPlayerReady($event)">
                <div class="custom-play-button" tappable (click)="  
                  currentMedia && currentMedia !== myMedia && currentMedia.pause(); 
                  media.playing ? myMedia.pause() : myMedia.play(); 
                  currentMedia = myMedia;
                  currentMedia.srcMedia = topic.media; 
                  topic.media.playing = !topic.media.playing;
      
                  $event.stopPropagation();">
                  <button ion-button clear color="white" 
                    class="play-button">
                    <ion-icon name="play" *ngIf="currentMedia !== myMedia || !currentMedia.srcMedia?.playing"></ion-icon>
                  </button>
                </div>
      
                <vg-buffering></vg-buffering>
      
                <vg-scrub-bar [vgSlider]="false" style="pointer-events: none;">
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                
                <video #myMedia [vgMedia]="myMedia" 
                  playsinline webkit-playsinline
                  x-webkit-airplay="true" 
                  x5-video-player-type="h5"
                  x5-video-orientation="h5"
      
                  id="vid-{{topic.media.id}}"
                  poster="{{topic.media.cover}}" 
                  src="{{topic.media.media_file}}"></video>
              </vg-player>
            </div>
          <!-- 音频 -->
          <div class="audio" *ngIf="topic.type == 2">
            <audio [src]="audio.url" controls *ngFor="let audio of topic.files"></audio>
          </div>
          <!-- 视频 -->
          <div class="video media-player" *ngIf="topic.type == 3">
            <vg-player *ngFor="let vid of topic.files">
                <div class="custom-play-button" tappable (click)="  
                currentMedia2 && currentMedia2 !== myMedia2 && currentMedia2.pause(); 
                currentMedia2 = myMedia2;
                currentMedia2.play();
                $event.stopPropagation();">
                <button ion-button clear color="white" 
                  class="play-button">
                  <ion-icon name="play" *ngIf="currentMedia2 !== myMedia2"></ion-icon>
                </button>
              </div>

              <vg-buffering></vg-buffering>
    
              <vg-scrub-bar [vgSlider]="false" style="pointer-events: none;">
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>
              
              <video #myMedia2 [vgMedia]="myMedia2" 
                playsinline webkit-playsinline
                x-webkit-airplay="true" 
                x5-video-player-type="h5"
                x5-video-orientation="h5"
    
                src="{{vid.url}}"></video>
            </vg-player>
          </div>
      </div>
    <div class="liked-area">
      <ion-row>
        <ion-col col-9>
            <img src="{{user.avatar || 'assets/imgs/default_avatar.png'}}"
            *ngFor="let user of topic.liked_users" class="liked-user">
        </ion-col>
        <ion-col col-3 style="text-align:center;">
            <button ion-button icon-start clear small (click)="like($event,topic);">
              <ion-icon name="md-heart" [class.liked]="topic.liked"></ion-icon>
              <div>{{topic.likes_count == 0 ? '' : topic.likes_count}}</div>
            </button>
        </ion-col>
      </ion-row>
    </div>
    
    </div>

    <div class="comments">
        <h2 class="title">评论 {{topic.comments_count}}</h2>
        <div class="empty-error-box" *ngIf="!!error">
          {{error}}
        </div>
        <ion-list>
          <ion-item *ngFor="let comment of comments">
            <ion-row>
              <ion-col col-2>
                  <ion-avatar>
                      <img [src]="comment.user.avatar || 'assets/imgs/default_avatar.png'">
                    </ion-avatar>
              </ion-col>
              <ion-col col-10>
                  <div class="msg-area">
                    <div tappable (click)="reply(comment);">
                      <h2>{{comment.user.nickname}}</h2>
                      <p class="text">{{comment.content}}</p>
                      <p class="time">{{comment.time | timeAgo:'YYYY-MM-DD HH:mm:ss'}}</p>
                    </div>
                    <div class="replies" *ngIf="comment.replies.length > 0">
                      <p class="reply" tappable (click)="reply(comment, rep.from_user.id);" *ngFor="let rep of comment.replies" text-wrap>
                        <span class="name">{{rep.from_user.nickname}}{{rep.to_user ? (' 回复 ' + rep.to_user.nickname )  : ''}}:</span> {{rep.content}}
                      </p>
                    </div>
                  </div>
              </ion-col>
            </ion-row>
            
          </ion-item>
        </ion-list>
      </div>

      <ion-infinite-scroll (ionInfinite)="loadMore($event)" [enabled]="hasMore">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="正在加载...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
</ion-content>

<ion-footer>
    <ion-toolbar color="white">
      <div class="input-box"><ion-input #input [(ngModel)]="content" placeholder="说点什么"></ion-input></div>
        <ion-buttons end>
          <button ion-button color="primary" [disabled]="!content" (click)="send();">
            发送
          </button>
        </ion-buttons>
    </ion-toolbar>
  </ion-footer>
