page-create-performer {
    .performer {
        .base-info {
            background: #fff;
            text-align: center;
            padding: 15px;
            img {
                width: 64px;
                border-radius: 32px;
                // border: 2px solid color($colors, primary);
            }
            .name {
                margin: 0;
                font-size: 16px;
                color: #333;
                font-weight: 700;
                margin: 10px 0;
            }
            .nick {
                margin: 0;
                font-size: 14px;
                color: #333;
            }
        }
        .approve-info {
            background: #fff;
            margin-top: 10px;
            padding: 15px;
            p {
                margin: 0;
                font-size: 14px;
                color: #333;
                line-height: 20px;
            }
        }
    }
}
